.footer {
  background-color: #000;
  padding-bottom: 150px;
  width: 100%;
  text-align: center;
  padding-top: 62px;
  img {
    display: inline;
  }
  .footer-container {
    max-width: 1016px;
    margin: 0 auto;
  }

  .copyright {
    margin-top: 18px;
    text-align: left;
    color: #fff;
    font-size: 14px;
    transform: skew(-0.03deg);
    letter-spacing: toRem(0.06);
  }
}

.footer-menu {
  margin-top: 48px;

  .footer-menu-ul {
    display: flex;
    max-width: $baseSectWithSize;
    width: 100%;
    li {
      padding: 0 40px;
      &:first-of-type {
        padding-left: 0;
      }
      &:not(:last-of-type) {
        border-right: 2px solid #fff;
      }
      * {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        transform: skew(-0.03deg);
      }
    }
  }
}

.footer-info {
  max-width: $baseSectWithSize;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  p {
    transform: skew(-0.03deg);
  }
}

.copy-text-cont {
  display: flex;

  p {
    color: #fff;
    // font-family: 'NanumSquareAc';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0;
    text-align: left;
  }

  .company {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-right: 58px;
  }
}

.footer-snsicon-cont {
  .snsicon-ul {
    display: flex;
    justify-content: center;
    & > li {
      margin-right: 14px;

      img {
        // filter: saturate(100%) grayscale(100%);
        // filter: saturate(0%);
        // filter: hue-rotate(180deg) contrast(35%) brightness(140%)  saturate(0%);
        // filter: grayscale(50%) saturate(200%) contrast(25%) saturate(200%) brightness(140%) saturate(0%);
        // filter: contrast(36%) brightness(145%) saturate(200%) grayscale(100%);
        // filter: saturate(200%) contrast(30%) brightness(160%)  grayscale(100%);
        filter: contrast(68%) brightness(115%) saturate(140%) grayscale(100%);
        // filter: grayscale(100%);
      }
      img:hover {
        filter: none;
        // filter: grayscale(0%);
      }
    }
  }
}

.footer-consult {
  display: flex;
  justify-content: space-between;

  margin-top: 42px;
  .consult-box {
    background-color: #151617;
    border: 1px solid #5d5d5d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86px;
  }
  .consult-katalk {
    width: 294px;
    .icon {
      margin-right: 12px;
      img {
        width: 40px;
      }
    }
    .ment {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
    }
  }
  .consult-tel {
    width: 694px;
    justify-content: left;
    padding-left: 40px;
    .tel-title {
      display: flex;
      align-items: center;
      margin-right: 30px;
      .icon {
        margin-right: 8px;
        img {
          filter: invert(100%);
        }
      }
      .title {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .tel-cont {
      color: #fff001;
      font-size: 18px;
      font-weight: 500;
      span {
        color: #fff;
        font-size: 14px;
        transform: skew(-0.03deg);
        font-weight: 300;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: $mobileBaseMaxSize) {
  .footer {
    padding: 0 toRem(32);
    padding-top: toRem(60);
    padding-bottom: toRem(210);
    img {
    }
    .footer-container {
    }

    .copyright {
      margin-top: toRem(20);
      font-size: toRem(14);
    }
  }

  .footer-menu {
    // padding-top: toRem(36);
    // padding-bottom: toRem(26);
    .footer-menu-ul {
      // padding-bottom: toRem(36);
      // justify-content: center;
      li {
        padding: 0 toRem(40);
        &:not(:last-of-type) {
        }
        * {
          font-size: toRem(15);
        }
      }
    }
  }

  .footer-info {
    margin-top: toRem(0);
    padding-left: 0;
    flex-direction: column;
  }

  .copy-text-cont {
    flex-direction: column;
    padding-left: toRem(0);
    p {
      font-size: toRem(15);
      letter-spacing: toRem(-0.4);
      transform: skew(-0.03deg);
      // font-weight: 300;
      word-break: keep-all;
      line-height: 1.5;
    }

    .company {
      font-size: toRem(18);
    }
    .company-info {
      margin-top: 20px;
    }
  }

  .footer-snsicon-cont {
    margin-top: toRem(50);

    .snsicon-ul {
      display: flex;
      justify-content: center;
      & > li {
        margin-right: toRem(16);
        img {
          width: toRem(70);
        }
      }
    }
  }

  .footer-consult {
    margin-top: toRem(36);
    column-gap: toRem(20);
    .consult-box {
      flex-grow: 1;
      border-radius: toRem(10);
      height: toRem(100);
    }
    .consult-katalk {
      width: auto;
      .icon {
        margin-right: toRem(8);
        img {
          width: toRem(44);
        }
      }
      .ment {
        font-size: toRem(18);
        transform: skew(-0.03deg);
      }
    }
    .consult-tel {
      width: auto;
      justify-content: center;
      padding-left: 0;
      .tel-title {
        display: flex;
        align-items: center;
        margin-right: toRem(0);
        .icon {
          margin-right: toRem(8);
          img {
            width: toRem(38);
          }
        }
        .title {
          font-size: toRem(18);
        }
      }

      .tel-cont {
        display: flex;
        align-items: center;
        font-size: toRem(18);
        transform: skew(-0.03deg);
        span {
          font-size: toRem(15);

          margin-left: toRem(6);
        }
      }
    }
  }
}
