/*반응형*/
@media (max-width:$mobileBaseMaxSize) {
  .page-main{
    .title-area{
      .title-main{
        font-size: toRem(52);
        span{
          display: block;
          margin-top: toRem(6);
        }
      }
      .title-sub{
        font-size: toRem(30);
        
      }
    }
  
    .title-partner{
   
      .title-logo{
        
      }
    }
  }
  
  .sect{
    padding: 0 toRem(40);
    padding-top: toRem(46);
    padding-bottom: toRem(66);
    .sect-container{
      width: 100%;
    }
    
  }

  .sect-common-ad{
    padding: 0 toRem(40);
    img{
      width: 100%;
    }
  }


  
.sect-event{
  width: 100%;
  padding: 0;
  .sect-container{
    width: 100%;
    &::before{
      display: none;
      position: absolute;
      content: "";
      width: 110%;
      height: 110%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      background:url("../../img/main/main_event_bg.jpg"), #888;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      filter: blur(18px);
      background-blend-mode: multiply;
    }
  }
}



  .partner-list-cont{
    margin-top: toRem(50);
    img{
      width: 100%;
    }
  }

  .sect-intro{
    padding: 0;
    margin-bottom: 0;
  }

  .sect-in-info{
    padding-bottom: 0;
  }


  //////////////
  .sect-intro{
    .intro-bg-area{
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      .img-bg{
        // padding-top: 200px;
        // overflow: hidden;
        img{
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          width: 320%;
        }
      }
      .img-car{
        top: auto;
        bottom: toRem(60);
        width: 80%;
        img{
          top: auto;
          left: 0;
          width: 100%;
          
        }
      }
      
    }
  }

  .intro-area{
    position: absolute;
    top: toRem(270);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-top: 0;
    text-align: left;
  
    .intro-title-box{
      p{
        text-align: center;
        text-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.3);
      }
      .title-sub{
        font-size: toRem(30);
      }
      .title-main{
        font-size: toRem(66);
        margin-top: toRem(20);
      }
    }
    .benz-logo-box{
      display: none;
      margin: 0 auto;
      margin-top: toRem(35);
      width: 20%;
      img{
        width: 100%;
      }
    }
  }

  .intro-info-bar{
    width: 100%;
    .info-ul{
      width: 100%;
      height: toRem(270);
      padding-top: toRem(30);
      padding-bottom: toRem(30);
      flex-direction: column;
      li{
        width: 70%;
        display: flex;
        justify-content: space-between;
        // padding: toRem(0) 0;
        p{
        }
        .name{
          margin-right: toRem(14);
          font-size: toRem(32);
        }
        .num{
          font-family: "GmarketSans",sans-serif;
          font-size: toRem(52);
          font-weight: 500;
          letter-spacing: 0;
        }
        &:not(:last-of-type){
          // margin-right: 184px;
        }
      }
      
    }
  }


  .event-bg{
    width: 100%;
    overflow: hidden;
    position: relative;
    img{
      position: relative;
      left: 82%;
      transform: translateX(-50%);
      width: 280%;
    }
  }

  .event-area{
    width: 100%;
    .event-cont{
      width: 100%;
    }
    .event-area{
      width: 100%;
      padding-top: toRem(120);
      text-align: center;
      
      .title-box{
        .title-sub{
          font-size: toRem(50);
        }
        .title-main{
          font-size: toRem(72);
          margin-top: toRem(10);
        }
      }
      .text{
        font-size: toRem(27);
        padding-top: toRem(40);
        span{
          text-decoration: underline;
        }
      }
      .btn-box{
        // background-color: #2c327f;
        width: 80%;
        margin: 0 auto;
        margin-top: toRem(76);
        border-radius: toRem(30);
        padding-top: toRem(38);
        padding-bottom: toRem(38);
        &::after{
          left: 0;
          height: toRem(22);
          bottom: toRem(-40);
        }
  
        *{
          
        }
        
        .title-main{
          font-size: toRem(52);
        }
        .title-sub{
          font-size: toRem(30);
          margin-top: toRem(20);
        }
        
        .btn{
          display: block;
          width: 67%;
          margin: 0 auto;
          margin-top: toRem(20);
          background-color: #888cbf;
          border-radius: toRem(22);
          font-size: toRem(36);
          font-weight: 600;
          padding-top: toRem(22);
          padding-bottom: toRem(24);
        }
      }
    }
  }

  
.car-type-area{
  margin-top: toRem(80);
  .cartype-title{
    font-size: toRem(46);
    &:not(:first-of-type){
      margin-top: toRem(60);
    }
  }
  

}

.car-type-ul{
  grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: repeat(3, 1fr);
  row-gap: toRem(32);
  column-gap: toRem(50);
  margin-top: toRem(28);
  li{
    border-radius: toRem(14);
    padding-bottom: toRem(30);
    a{
      display: block;
      cursor: pointer;
    }

    .car-img{
      height: toRem(210);
      .top-consult{
        width: toRem(58);
        height: toRem(58);
        font-size: toRem(22);
        top: toRem(10);
        left: toRem(12);
      span{
      }

      }
      .img-box{
        img{
        }
      }
      
    }


    .car-info{
      p{
        // font-size: 20px;
        &:not(.name){
        }
      }
      .name{
        font-size: toRem(32);
        margin-top: toRem(26);
      }
      .info-price{
        padding-left: toRem(46);
        margin-top: toRem(18);
        .p-item{
          font-size: toRem(25);
        }
      }
      .span-num{
        
      }

    }
    .btn-consult{
      width: 84%;
      padding-top: toRem(22);
      padding-bottom: toRem(22);
      border-radius: toRem(14);
      font-size: toRem(20);
      margin-top: toRem(24);
    }
  }
}

  

  .advantage-top{
    p{
      text-align: center;
    }
    .title{
      font-size: toRem(50);
    }
    .text{
      margin-top: toRem(38);
      p{
        font-size: toRem(28);
      }
    }
  }
  
  .advantage-ul{
    margin-top: toRem(100%);
    display: flex;
    justify-content: space-between;
    li{
      img{
        width: toRem(140);
      }
      p{
        margin-top: 40px;
        color: #fff;
        font-size: toRem(24);
        line-height: 1.2;
      }
    }
  }


  .consult-area{
    margin-top: toRem(40);
    .consult-box{
      border-radius: toRem(10);
      height: toRem(100);
    }
    .consult-katalk{
      
      .icon{
        
        img{
          
        }
      }
      .ment{
      }
    }
    .consult-tel{
      width: 100%;
      justify-content: center;
      padding-left: 0;
      .tel-title{
        
        display: flex;
        align-items: center;
        margin-right: toRem(14);
        .icon{
          margin-right: toRem(8);
          img{
            width: toRem(38);
          }
        }
        .title{
          font-size: toRem(25);
        }
        
      }
  
      .tel-cont{
        
        font-size: toRem(26);
        
        span{
        
          font-size: toRem(22);
          
          margin-left: toRem(10);
        }
      }
    }
  }


  

  .page-main{
    .title-partner{
   
      .title-logo{
        margin-right: toRem(25);
        width: toRem(180);
      }
    }
  }
  

  .in-info-content{
    margin-top: toRem(30);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: toRem(50);
    // border-bottom: 2px dashed #717171;
    position: relative;
    &::after{
      
    }
    .in-info-area{
      order: 1;
      width: 90%;
      margin: 0 auto;
      grid-template-rows: repeat(1, 1ft);
      grid-template-columns: repeat(1, 1fr);
      gap: toRem(18);
      &::before{
        content: none;
      }
      input{
        border-radius: toRem(10);

        // padding-top: 20px;
        // padding-bottom: 20px;
        padding-left: toRem(24);
        height: toRem(72);
        font-size: toRem(26);
        &::placeholder{
          
        }
        
      }
    }
    .btn-quote{
      order: 3;
      margin: 0 auto;
      margin-top: toRem(30);
      width: 90%;
      background-color: #fff;
      border-radius: 10px;
      border: 2px solid $colorMainBlack;
      display: flex;
      justify-content: center;
      padding: toRem(28) 0;
      p{
        color: #717171;
        font-size: toRem(34);
        line-height: 1.2;
        &:last-of-type{
          margin-left: toRem(8);
          
        }
      }
      &:hover{
        border: none;
        background-color: $colorMainBlue;
        p{
          color: #fff;
        }
      }
    }
    .agree-area{
      order: 2;
      width: 90%;
      margin: 0 auto;
      justify-content: left;
      margin-top: toRem(30);
      padding-left: toRem(12);
      .check-agree{

        &:checked+.check-agree-label::before{
          font-size: toRem(34);
        }
      }
      .check-agree-label{
        //padding-top: toRem(2);
        font-size: toRem(30);
        line-height: 1.2;
        &::before{
          margin-right: toRem(8);
          line-height: 1.3;
          width: toRem(42);
          height: toRem(42);
        }
      }

      .btn-show{
        margin-left: toRem(14);
        width: toRem(88);
        height: toRem(42);
        font-size: toRem(28);
        padding-top: toRem(8);
        border-radius: toRem(10);
      }
    }
  }
  
}