@media (min-width: ($mobileBaseMaxSize+1)) {
  .mobile-bottom-wrap {
    display: none;
  }
}

.mobile-bottom-wrap {
  z-index: 20;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 0 toRem(20);
  padding-bottom: toRem(30);
  // height: toRem(136);
  box-shadow: 0 -8px 10px rgba($color: #000000, $alpha: 0.2);
  .mobile-btn-ul {
    height: toRem(134);
    display: flex;
    justify-content: space-around;
    padding-top: toRem(18);
    li {
      text-align: center;
      a,
      button {
        display: block;
        img {
          width: toRem(58);
        }
        p {
          margin-top: toRem(12);
          font-size: toRem(24);
          transform: skew(-0.03deg);
        }
      }
    }
    .btn-center {
      overflow: hidden;
      transform: translateY(toRem(-70));
      display: flex;
      background-color: #2c327f;
      border-radius: 50%;
      width: toRem(164);
      height: toRem(164);
      justify-content: center;
      align-items: center;
      a {
        width: 100%;
        img {
          width: toRem(80);
        }
        p {
          color: #fff;
        }
      }
    }
  }
}

.ani-btn {
  // background: linear-gradient(137deg, #c052ee, #7c4efb, #563ba4);
  background: linear-gradient(137deg, #b93adf, #6e4efb, #316197);
  box-shadow: inset 0 0 20px rgba($color: #fff, $alpha: 0.4);
  animation-name: gradientAni;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-size: 100% 1200%;
}

@keyframes gradientAni {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
