extends ./_cont_carpage

block content
  div(class="active-menu-data" data-active-target-menu="car-bmw")
  main(class="wrap-container page-sub-carpage page-sub-carpage-bmw")
    section(class="sect carpage-sect-cont carpage-sect-bmw")
      div(class="sect-container")
        +carpageTitle("BMW", "벤카에서 특가차량을 만나보세요!")
        
        .carpage-contents
          ul.carpage-list-ul
            +carpageListInfo("GLE", 250000,30000)
            +carpageListInfo("GLE", 250000,30000)
            +carpageListInfo("GLE", 250000,30000)
            +carpageListInfo("GLE", 250000,30000)
            +carpageListInfo("GLE", 250000,30000)
            +carpageListInfo("GLE", 250000,30000)
            +carpageListInfo("GLE", 250000,30000)
            +carpageListInfo("GLE", 250000,30000)
            +carpageListInfo("GLE", 250000,30000)
            +carpageListInfo("GLE", 250000,30000)
            +carpageListInfo("GLE", 250000,30000)

        include ../../include/_paging_carpage